body {
  /*min-height: 2000px;*/
  padding-top: 70px;
  /*background-color: #333;*/
  /*background-color: white;*/
}

#bg {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1;

    background-image: url('http://images8.alphacoders.com/370/370799.jpg');
    background-size: cover;

    -webkit-filter: grayscale(0.5) brightness(1.5);
}

li {
    list-style: none;
}

button {
    padding: 0px 5px 0px 5px;
    margin-left: 20px;
    color: black;
}


.patient-info p {
    font-size: 18px;
    margin-left: 20px;
    margin-top: 0px;
    margin-bottom: 0px;
}

#avatar-small {
    width: 100px;
    height: 100px;
    background-color: black;
    float: left;
    margin: 20px 20px 20px 80px;
}

#avatar-large {
    width: 200px;
    height: 200px;
    background-image: url('http://www.clker.com/cliparts/c/1/d/a/12673209761699807181rx%20medicine%20symbol.svg.med.png');
    background-size: cover;
    float: left;
    margin: 20px 20px 20px 0px;
}

.jumbotron {
    min-height: 500px;
    background-color: rgba(246, 132, 41, 1);
    color: white;
}

.jumbotron h1 {
    font-size: 48px;
}

.navbar {
    background-color: rgba(246, 132, 41, 1);

}

.navbar .navbar-header a{
    color: white;
}

.navbar .navbar-collapse .navbar-right .unactive a{
    color: white;
}

.navbar .container {
    margin-top: 0px;
}

.navbar-nav a {
    font-size: 16px;
    margin-left: 0px;
}

.navbar-header .navbar-brand {
    font-size: 18px;
    padding-left: 30px;
}

.container {
    margin-top: 50px;
}

.patient-list {

    display: inline;
    float: left;
    /*background-color: white;*/
    width: 200px;
    /*height: 200px;*/
    margin-left: -40px;
}

.vertical-line {
    /*display: inline;*/
    float: left;
    margin-left: 40px;
    margin-right: 40px;
    background-color: white;
    width: 1px;
    height: 440px;
    margin-top: -20px;

}

.patient-details {
    float: left;
    display: inline;

    /*background-color: white;*/
    width: calc(100% - 300px);
    /*height: 200px;*/


}

/* for the individual view */
.patientTitleHeader h1 {
   margin-top: 50px;
   padding: 20px;
}

