frontend doesnt wanna work lol
<br>
<a href="http://localhost:1337/">Homepage (you're here now)</a>
<br>
<a href="http://localhost:1337/register">Register</a>
<br>
<a href="http://localhost:1337/patient/">Patient Log-In</a>
<br>
<a href="http://localhost:1337/doctor/">Doctor Log-In</a>
