<div class="container">
    <div class="title">
        <h1>R<span>x</span>Minders</h1>
        <h3><span>Be</span> Mindful</h3>
    </div>

    <br>
    <form action="/patient/login/" class="patientLogin">
        <div>
            <input type="text" class="homeFormInput" placeholder="email" autofocus>
        </div>
        
        <div>
            <input type="text" class="homeFormInput" placeholder="password">    
        </div>

        <div>
            <button class="homeFormInput">Log In</button>
        </div>
        
    </form>

    <a href="/patient/new/">Sign Up</a>
</div>