
#wrapper #sidebar-wrapper .sidebar-nav .sidebar-brand a{
    margin-top: 50px;
    padding-left: 20px;
    font-size: 24px;
}
#wrapper #sidebar-wrapper .sidebar-nav a{
    padding-left: 20px;
}






#wrapper #page-content-wrapper .container-fluid .col-lg-12 h1 {
    color: #5F3F3F;
}
#wrapper #page-content-wrapper .container-fluid .col-lg-12 h2 {
    color: #5F3F3F;
}
#wrapper #page-content-wrapper .container-fluid .col-lg-12 h3 {
    color: #5F3F3F;
}

#page-content-wrapper {
    margin-left: 40px;
}



#bg {
    background-image: url("http://37.media.tumblr.com/1ecfc1ee5d12ecfe0b48c069980609bf/tumblr_n8zm3lrclm1st5lhmo1_1280.jpg");
    position: absolute;
    z-index: -1;
    height: 100%;
    width: 100%;
    -moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    filter: FlipH;
    -ms-filter: "FlipH";

}
