<form action="/patient/create/" method="POST">
	<input type="email" name="email" placeholder="foo@bar.baz"> <br>
	<input type="text" name="phoneNumber" placeholder="555-555-555"> <br>
	<input type="password" name="password" placeholder="password"> <br>
	
	<input type="submit">
</form>